$colores:
rgba(91, 91, 95, 0.80),
rgba(76, 88, 160, 0.80), 
rgb(216, 229, 238),
rgb(3, 190, 202),
rgb(76,88,160),
#fff,
#5B5B5F,
#FF7330;


$font-size:
0.5rem,
0.75rem,
0.8rem,
1rem,
1.2rem,
1.5rem,
1.8rem,
2rem;

$font-weight:
200,
300,
400,
450,
500,
600,
700;

$btn-border:
8px solid #03BECA,
8px solid #4C58A0,
1px solid white,
1.8px solid #4C58A0,
1.5px solid #03BECA;

