@import "../bases/listas";
@import "../bases/mixin";
@import "../bases/maps";
@import "../bases/extends";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    
    .header__top{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgb(3, 190, 202);
        height: 20px;
        
        .header__top__style{
            color: #fff;
            margin: 5px 10px 5px 0;
    
        }
        .select{
            background: transparent;
            border: none;
            margin-right: 15px;
            color: #fff;
            &:focus{
                outline: none;
                background-color: rgb(3, 190, 202);
                color: rgb(76,88,160);
            }
        }
        
    }
    nav{   

        .nav__menu{
            .active{
                color:map-get($principal, color-hover);
            }
        }
        .nav__menu a{
            text-decoration: none;
            font-weight: 700;
            margin-right: 16px;
            color:map-get($principal, color-menu);
            &:hover{
                color:map-get($principal, color-hover);
            }
        }       

        .menu-icon, #check{
            display: none;
        }

        
        .nav__icon{
            font-size: 1.3rem;
            color: rgb(76,88,160);
        } 

        .nav__icon1{
            font-size: 1.8rem;
            color: rgb(76,88,160);
        } 
        

        .nav-item i{ 
            overflow: hidden;
            &:hover{
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
                color: map-get($principal, bg-color);
            }
        }
        
    }
}

main{
    
    .main__fondo{
        background-color: map-get($principal, bg-body); 
    }

    /*Carousel Section */
    
    section{
        .section__ancho{
            border: 30px solid transparent;
        }
        .section__servicios h1{
            @include format_title(#fff, 400, 1.2rem);
            background-color: map-get($principal, bg-color);
            padding: 2px 2px;
        }

        .section__servicios small{
            font-size: nth($font-size, 6);
        }

        .control-icon {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 20px;
            background-color: nth($colores, 4 );
        }

        .carousel-item{
            &:hover{
                filter: saturate(130%);
            }
        }
    }

    /*Search section*/
    section{
        
        .section__buscador {
            height: 15rem;
        }
        
        .section__buscador h2 {
            color: nth($colores, 1);
            font-weight: nth($font-weight, 5); 
            font-size: nth($font-size, 4);
            margin-top: 3rem;
            letter-spacing: 0.10em;
            
        }

        .nav__icon{
            font-size: 1.5rem;
        }

        .nav__icon1{
            font-size: 1.5rem;
            color: rgb(76,88,160);
            &:hover i{
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
                color: map-get($principal, bg-color);
            }
        }

        .section__buscador1{
            @extend %positionV_center;
    
        }
        
        .section__button {
            @extend %positionV_center;
        }
        
        .section__button a{
            text-decoration: none;
            color: inherit;
        
        }

        .btn__search {
            position: relative;
            margin: auto;
            padding: 19px 22px;
            transition: all 0.2s ease;
            color: nth($colores, 1);
        }
    
        .btn__search:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            border-radius: 28px;
            background: rgba(3, 190, 202, 0.5);
            width: 56px;
            height: 56px;
            transition: all 0.3s ease;
        }
        .btn__search span {
            position: relative;
            font-size: 0.95rem;
            line-height: 18px;
            font-weight: 900;
            letter-spacing: 0.10em;
            vertical-align: middle;
            color: nth($colores, 1);
        }
        .btn__search svg {
            position: relative;
            top: 0;
            margin-left: 10px;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: nth($colores, 1);
            stroke-width: 2;
            transform: translateX(-5px);
            transition: all 0.3s ease;
        }
        .btn__search:hover:before {
            width: 100%;
            background: map-get($principal, bg-color);
            
        }
        .btn__search:hover svg {
            transform: translateX(0);
        }
        .btn__search:active {
            transform: scale(0.96);
        }        
    }
}

/*Products section*/

section{

    .section_products{
        margin: 40px 0 40px 0;
        ;
        .space__p{
            line-height: 0.8rem;
            font-size: 0.8rem;
        }
        .section_products h5{
            font-size: 1.3rem;
            color: nth($colores, 7);
            margin-bottom: 1rem;
        }
    }

    .section__titulo{
        color: nth($colores, 1);
        font-size: 1.5rem;
        margin: 1rem 0 0 1rem;
    }

    /* Category Ads */

    #ads {
        margin: 30px 0 30px 0;
        
    
    }

    #ads .card__sale {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #F9DB84;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: map-get($principal, color-menu);
        padding: 5px 10px;
        font-size: 14px;
    }

    #ads .card__discount {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #FF7330;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
    }


    #ads .card-detail-sale {      
        background: #F9DB84;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: map-get($principal, color-menu);
        padding: 5px 10px;
        font-size: 14px;        
    }

    #ads .card{
        &:hover {
            border-radius: 4px;
            box-shadow: 12px 15px 20px 0px rgba(76, 88, 160, 0.80);
            transition: all 0.3s ease;
        }
    }


    #ads .card-image-overlay {
        font-size: 20px;
            
    }


    #ads .card-image-overlay span {
        display: inline-block;              
    }

    
   .card__more{
    background: linear-gradient(170deg, rgba(160,76,130,0.40) 0%, #4C58A0 90%);
    }
                
    .card__a{
        color: #FF7330;
    }      
  
    .column {
        margin-top: 3rem;
            padding-left: 3rem;
    }
  
  
    .card {
        min-height: 250px;
        margin: 0;
        padding: 1.7rem 1.2rem;
        border: none;
        border-radius: 0;
        color: nth($colores, 1 );
        letter-spacing: 0.05rem;
        box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
    }
    .card .txt {
        margin-left: -3rem;
        z-index: 1;
        color: #4C58A0;
    }
    .card .txt h1 {
        font-size: 1.4rem;
        font-weight: 300;
    }
 
    .card a {
        z-index: 3;
        font-size: 0.7rem;
        color: #F9DB84;
        margin-left: 1rem;
        position: relative;
        bottom: -0.5rem;
        text-transform: uppercase;
    }
  
    .card .ico-card {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .card i {
        position: relative;
        right: -50%;
        top: 60%;
        font-size: 10rem;
        line-height: 0;
        opacity: 0.2;
        color: white;
        z-index: 0;
    }

}


Footer{
    background-color: map-get($principal, bg-body);
    
    .footer__fondo {
        background: nth($colores, 5);
        height: 120px;
        padding: 5px 5px;

        
    }
    
    .footer__content {
        color: nth($colores, 6);
        font-size: nth($font-size, 4);
        line-height: 1.5;
        margin: 3px 0 0 3px;
        font-size: nth($font-size, 2);
    }
    
    .footer__content h3 {
        font-size: nth($font-size, 4);
    }
    
    .footer__content li {
        list-style-type: square;
    }
    
    .footer__piePagina {
        @extend %positionH_end;
    }
    
    .footer__piePagina p {
        font-size: nth($font-size, 3);
        color: nth($colores, 6);
    }
    
    .footer__redesSociales {
        display: flex;
        justify-content: flex-end;
    
    }
    
    .footer__redesSociales a {
        display: inline-block;
        width: 30px;
        height: 30px;
        color: nth($colores, 6);
        border: nth($btn-border, 3);
        border-radius: 50%;
        text-align: center;
        margin: 2px 20px 0 0;
        transform: scale(1.5);
        &:hover{
            background: nth($colores, 6);
            color: nth($colores, 5);
            border: nth($btn-border, 3);
            transition: all 0.5s;
        }
    }
    
    
    .footer__redesSociales i {
        font-size: 23px;
        line-height: 28px;
       
    }
    
}


@media (max-width: 576px){


    header{
        .header__top{
            font-size: 0.8rem;
        }
    }

    nav{
        .checkbtn{
            display: block;
            .menu-icon{
                display: block;
                position:fixed;
                top: 30px;
                left: 20px;
                color: #4C58A0;
                cursor: pointer;
                font-size: 25px;
                font-weight: 500;
                
            }
        } 
        .nav__menu-main ul{
            display: block;
            position: fixed;
            top: 70px;
            left: -100%;
            background: #03BECA;
            border-radius: 20px;
            opacity: 95%;
            border: 2%;
            width: 70%;
            height: 100vh;
            right: 0;
            z-index: 3;
            li{
                padding: 2rem;
                display: flex;
                justify-content: center;
                margin: 0;
                &:last-child{
                   background: none;
                   padding: 1rem; 
                }
            }
        }

        #check:checked ~ ul{
            left: 0;
        }

        .nav__menu a{
            color: #fff;
        }

    }

    main{

        .carousel{
            display: none;
        }
        .main__fondo{
            height: 550px;
        }
    }

     
    

    footer{

        .footer__content {
            display: none;
        }

        .footer__piePagina p {
            display: none;
        }

    }

}

@media  (min-width: 577px) and (max-width: 767.99px) {

    
    main{
        .section__buscador{
            display: block;
            flex-direction: column;
        }
        .main__fondo{
            height: 780px;
        }

        .section__button{
            margin-left: auto;
            margin-right: auto;
        }
    }

    section{
        .card-none{
            display: none;
        }
    }

    footer{
        
        .footer__content{
            margin-top: 10px;
        }
        .footer__content h3 {
            font-size: 0.8rem;
        }

        .footer__piePagina p {
            font-size: 0.6rem;
        }
    }

}


@media  (min-width: 768px) and (max-width: 992px) {

    nav{
        .nav__menu a{
            margin-right: 2px;
        }
        
    }

}