@import "../bases/listas";
@import "../bases/mixin";
@import "../bases/maps";
@import "../bases/extends";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{

    .header__top{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgb(3, 190, 202);
        height: 20px;
        
        .header__top__style{
            color: #fff;
            margin: 5px 10px 5px 0;
    
        }
        .select{
            background: transparent;
            border: none;
            margin-right: 15px;
            color: #fff;
            &:focus{
                outline: none;
                background-color:rgb(3, 190, 202);
            }
        }
        
    }
    nav{
        height: 120px;
        width: 100%;

        .header__img{
            position: absolute;
            padding: 10px 50px;
            img{
                height: 100px;
            }
        } 
    
        ul{
            float: right;
            margin: 20px 20px 0 0;
            
            li{
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
                a{
                    color: nth($colores, 1);
                    text-decoration: none;
                    &:hover{
                        color: nth($colores, 2);
                        font-weight: nth($font-weight, 5);
                        }

                }
            }
            
        }
        .checkbtn{
            margin-top: 0.8rem;
            font-size: 30px;
            color: black;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
            
        }
        #check{
            display: none;
        }
            
    }

    
}

main{
    
    .main__fondo{
        background-color: map-get($principal, bg-body); 
    }

    
    
    section{
        .section__ancho{
            border: 30px solid transparent;
        }
        .section__servicios h1{
            @include format_title(#fff, 400, 1.2rem);
            background-color: map-get($principal, bg-color);
            padding: 2px 2px;
        }

        .section__servicios small{
            font-size: nth($font-size, 6);
        }
    }

    section{

        .section__buscador {
            padding: 0 1.5rem 2rem 1.5rem;
            
        }
        
        .section__buscador h2 {
            color: nth($colores, 1);
            font-weight: nth($font-weight, 5); 
            font-size: nth($font-size, 4) ;
            margin: 2rem 0 2rem 0;
    
        }
        
        .section__button {
            @extend %positionH_end;
        }
        
        .section__button__input {
            @extend %style-btn;
            white-space: normal;
            width: 7rem;
            font-size: 0.8rem;
            padding: 0 0.3rem;
        
        }
        
        input[type="submit"].btn:hover {
            border: nth($btn-border, 2);
            background: nth($colores, 5);;
            color: #fff;
        }
    }

}

section{

    .section_products{
        margin: 40px 0 40px 0;
        ;
        .space__p{
            line-height: 0.8rem;
            font-size: 0.8rem;
        }
        .section_products h5{
            font-size: 1.3rem;
            color: nth($colores, 7);
            margin-bottom: 1rem;
        }
    }

    .section__titulo{
        color: nth($colores, 7);
        font-size: 1.5rem;
    }
}


Footer{
    background-color: map-get($principal, bg-body);
    
    .footer__fondo {
        background: nth($colores, 5);
        height: 120px;
        padding: 5px 5px;

        
    }
    
    .footer__content {
        color: nth($colores, 6);
        font-size: nth($font-size, 4);
        line-height: 1.5;
        margin: 3px 0 0 3px;
        font-size: nth($font-size, 2);
    }
    
    .footer__content h3 {
        font-size: nth($font-size, 4);
    }
    
    .footer__content li {
        list-style-type: square;
    }
    
    .footer__piePagina {
        @extend %positionH_end;
    }
    
    .footer__piePagina p {
        font-size: nth($font-size, 3);
        color: nth($colores, 6);
    }
    
    .footer__redesSociales {
        display: flex;
        justify-content: flex-end;
    
    }
    
    .footer__redesSociales a {
        display: inline-block;
        width: 30px;
        height: 30px;
        color: nth($colores, 6);
        border: nth($btn-border, 3);
        border-radius: 50%;
        text-align: center;
        margin: 2px 20px 0 0;
        transform: scale(1.5);
        &:hover{
            background: nth($colores, 6);
            color: nth($colores, 5);
            border: nth($btn-border, 3);
            transition: all 0.5s;
        }
    }
    
    
    .footer__redesSociales i {
        font-size: 23px;
        line-height: 28px;
       
    }
    
}


@media (min-width: 576px) and (max-width: 767.99999px) {


    header{
        nav{
            .header__img {
                padding-left: 20px;
                img{
                    height: 90px;
                }          
            }

            .checkbtn{
                display: block;
                
            }

            ul{
                position: fixed;
                width: 50%;
                height: 100vh;
                background: rgb(3, 190, 202);
                top: 80px;
                left: -100%;
                text-align: center;
                transition: all 0.5s;
                li{
                    display: block;
                    margin: 50px 0;
                    line-height: 30px;
                    a{
                        color:#fff;
                        text-transform: uppercase;
                        
                        .active{
                            &:hover{
                                background: none;
                                color: nth($colores, 5 );
                            }
                        }
                        
                    }

                }
            }
            #check{
                &:checked ~ ul{
                    left: 0;
                }

            }
        
        }
    }


    main{

        section{
            .section__servicios h1{
                font-size: 1.1rem;
            }

            .section__servicios small{
                font-size: 1.2rem;
            }

            .section__carousel{
                display: none;
            }

            
            
        }
        section{

            .section__buscador {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;
            }
    
            .section__buscador h2 {
                font-size: 1.3rem;
                font-weight: 500;
            }
    
        }
    }

    section{
        .section_products{
            z-index:-1;
            .space__p{
                font-size: 0.6rem;
            }
            .size_h5{
                font-size: 0.8rem;
            }
            .card__none{
                display: none;
            }
        }
        
    }

    footer{

        .footer__content {
            display: none;
        }

        .footer__piePagina p {
            font-size: 0.6rem;
        }

    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    header{
        nav{
            .header__img {
                padding-left: 20px;          
            }
        }
    }

    main{
        section{

            .section__buscador {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
    
            .section__buscador h2 {
                font-size: 1.2rem;
                font-weight: 500;
            }
    
        }
    }

    section{

        .section_products{
           
            .space__p{
                line-height: 0.8rem;
                font-size: 0.8rem;
            }
           
        }
    }




    footer{
        
        .footer__content{
            margin-top: 10px;
        }
        .footer__content h3 {
            font-size: 0.8rem;
        }

        .footer__piePagina p {
            font-size: 0.6rem;
        }
    }

}