@import "../bases/listas";
@import "../bases/mixin";
@import "../bases/maps";
@import "../bases/extends";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    
    

    .main__second-title h1{
        @include format_title(#5B5B5F, 400, 1rem);
        margin: 10px 16px;
    }
    .main__space{
        padding: 15px 5px;
       
    }
  
}


@media (min-width: 576px) and (max-width: 767.99999px) {



}