@import "../bases/listas";
@import "../bases/mixin";
@import "../bases/maps";
@import "../bases/extends";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    
    .bg__caja{
        position: relative;
        background: linear-gradient(90deg, white, rgb(3,190,202));
        img{
            max-width: 100%;
            max-height: 100%;
            clip-path: polygon(0 0, 53% 0, 41% 100%, 0% 100%);
            filter: opacity(90%);
        }
        .bg__caja1{
            position: absolute;
            top: 15%;
            margin-left: 50%;    
        }
        .bg__caja1 h1{
            position: absolute;
            font-size: 3rem;
            color: white;
            filter: opacity(30%);
        }
        .bg__caja1 h2{
            position: absolute;
            color: #fff;
        }
        .bg__caja2 ul{
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            position: absolute;
            top: 40%;
            margin-left: 40%;
            width: 50%;
            
            }li{
            width: 15%;
            }
        .bg__caja-icon i{
            font-size: 1.5rem;
            color: rgb(76,88,160);
            &:hover{
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
                color: map-get($principal, bg-color);
            }
        }
  
    }
    
    
     
        
}  

section{

    .bg__map-title{
        color: nth($colores, 7);
        font-size: nth($font-size, 6 );
        padding: 20px;
    }
    .map-responsive{
        overflow: hidden;
        padding-bottom: 500px;
        position: relative;
        height: 0;
    }
    .map-responsive iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        padding: 0 5px 40px 5px;
    }

}




@media (max-width: 576px){

    main{
        .bg__caja2 ul{
            width: 50px;
        }
        .bg__caja p{
            display: none;
        }
        .bg__caja h6{
            font-size: 0.8rem;
        }
    }

}

@media  (min-width: 577px) and (max-width: 767.99px) {

    main{
        .bg__caja2 ul{
            width: 50px;
        }
        .bg__caja h6, p{
            font-size: 0.6rem;
        }
    }

}